body {
  font-family: 'League Spartan';
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffc0cb; /* Light Pink */
}

header {
  background-color: #ff69b4; /* Hot Pink */
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

main {
  padding: 2rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size:1.5rem;
}

footer {
  background-color: #ff69b4; /* Hot Pink */
  color: #fff;
  padding: 1rem;
  text-align: center;
}
